* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto Slab';
  background: url(../img/bg.jpg) no-repeat center top;
  overflow-x: hidden;
}
body button {
  font-family: 'Roboto Slab';
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}
body button.full {
  width: 100%;
}
body button i.count {
  height: 39px;
  width: 39px;
  text-align: center;
  line-height: 39px;
  color: #fff;
  background: #436fd1;
  border-radius: 20px;
  display: block;
  position: absolute;
  top: -14px;
  right: -14px;
  font-size: 18px;
}
body input {
  font-family: 'Roboto Slab';
}
body input:focus {
  outline: none;
}
body label {
  cursor: pointer;
}
body a {
  color: #436fd1;
}
body a:hover {
  text-decoration: none;
}
body .overlay {
  min-height: 100%;
  background: url(../img/overlay.png) repeat;
}
body .overlay .wrapper {
  width: 986px;
  margin: 0 auto;
  padding: 92px 0 10px;
  position: relative;
}
body .overlay section {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 80px;
  position: relative;
  z-index: 30;
}
body .overlay section div.bd {
  border: 1px solid #ededed;
  border-width: 1px 0;
  margin: 0 -80px 30px;
  padding: 32px 0;
}
body .overlay section div.bd .locked {
  padding: 0 80px;
  position: relative;
}
body .overlay section div.bd .locked .elem {
  opacity: 0.5;
}
body .overlay section div.bd .locked .ovl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/ovl.png);
  z-index: 40;
}
body .overlay section div.bd .locked .ovl .box {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(1, 3, 1, 0.25);
  width: 454px;
  height: 72px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -36px 0 0 -227px;
  line-height: 72px;
  text-align: center;
  color: #202020;
  font-size: 28px;
  font-weight: bold;
}
body .overlay section div.gray {
  margin: 60px -80px -60px;
  background: linear-gradient(to bottom, #eeedee 0%, #ffffff 35%, #ffffff 100%);
  padding: 60px 80px;
  border-radius: 0 0 10px 10px;
}
body .overlay section div.gray:last-child {
  margin-bottom: -80px;
}
body .overlay section div.gray.locked {
  position: relative;
}
body .overlay section div.gray.locked * {
  opacity: 0.5;
}
body .overlay section div.gray.locked .ovl {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/ovl.png);
  z-index: 40;
}
body .overlay section div.gray.locked .ovl * {
  opacity: 1;
}
body .overlay section div.gray.locked .ovl .box {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(1, 3, 1, 0.25);
  width: 454px;
  height: 72px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -36px 0 0 -227px;
  line-height: 72px;
  text-align: center;
  color: #202020;
  font-size: 28px;
  font-weight: bold;
}
body .popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 56px 0;
  overflow-y: auto;
  z-index: 9000;
  display: none;
  background: rgba(0, 0, 0, 0.85);
}
body .popup_wrapper.open {
  display: block;
}
body .popup_wrapper .popup {
  border-radius: 10px;
  background: #ffffff url(../img/ovl.png);
  width: 552px;
  margin: 0 auto;
  padding: 18px;
}
body .popup_wrapper .popup.big {
  width: 987px;
}
body .popup_wrapper .popup .box {
  border-radius: 4px;
  min-height: 100px;
  background: #fff;
  border: 1px solid #ebebeb;
}
body .popup_wrapper .popup .box .title-wrap {
  text-align: center;
  margin: -48px 0 0 0;
}
body .popup_wrapper .popup .box .title {
  border-radius: 4px;
  display: inline-block;
  background: #2f4e81 url(../img/pop_lbl.png);
  height: 72px;
  line-height: 72px;
  font-size: 31px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  padding: 0 35px;
}
body .popup_wrapper .popup .box .title.red {
  background: #852037 url(../img/pop_lbl.png);
}
body .popup_wrapper .popup.nobd {
  background: none;
}
body .popup_wrapper .popup.nobd .box {
  border: none;
}
body .popup_wrapper .popup.nobd .title-wrap {
  margin: 0;
}
body .popup_wrapper .popup.nobd .title-wrap .title {
  margin: -48px 0 0 0;
}
body .popup_wrapper .popup .enter {
  background: #ffffff url(../img/qw_bg.png) no-repeat 50% 42px;
}
body .popup_wrapper .popup .enter img {
  display: block;
  margin: 44px auto;
  border: 15px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(1, 3, 1, 0.15);
}
body .popup_wrapper .popup .enter .btns {
  text-align: center;
  margin: 0 0 25px;
}
body .popup_wrapper .popup .enter .accept {
  padding: 0 50px;
  margin: 0 0 30px;
  font-size: 15px;
  line-height: 19px;
}
body .popup_wrapper .popup .enter .accept .icheckbox {
  margin: 0 10px 20px;
  display: block;
  float: left;
}
body .popup_wrapper .popup .bgking img {
  display: block;
  margin: -98px auto 20px;
}
body .popup_wrapper .popup .bgking .cbs {
  padding: 0 0 0 108px;
  font-size: 15px;
  color: #414141;
  margin: 0 0 20px;
}
body .popup_wrapper .popup .bgking .cbs label {
  display: block;
  margin: 0 0 9px;
}
body .popup_wrapper .popup .bgking .btns {
  text-align: center;
  margin: 0 0 35px;
}
body .popup_wrapper .popup .person {
  background: #ffffff url(../img/stars1.png) no-repeat 50% 42px;
}
body .popup_wrapper .popup .person img {
  display: block;
  margin: 44px auto;
  border: 15px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(1, 3, 1, 0.15);
}
body .popup_wrapper .popup .person .name {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  text-decoration: underline;
}
body .popup_wrapper .popup .person .accept {
  text-align: center;
  font-size: 15px;
  margin: 20px 0 30px;
}
body .popup_wrapper .popup .person .btns {
  text-align: center;
  margin: 0 0 25px;
}
body .popup_wrapper .popup .mission .a {
  position: relative;
}
body .popup_wrapper .popup .mission .name {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 15px;
}
body .popup_wrapper .popup .mission .btns {
  text-align: center;
  margin: 35px 0 40px;
}
body .popup_wrapper .popup .mission .stats {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #414141;
}
body .popup_wrapper .popup .mission .stats span {
  padding: 0 16px 0 0;
}
body .popup_wrapper .popup .mission .stats em {
  color: #2f4e81;
}
body .popup_wrapper .popup .mission img {
  display: block;
  margin: 44px auto;
  border: 15px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(1, 3, 1, 0.15);
}
body .popup_wrapper .popup .acvi {
  text-align: center;
}
body .popup_wrapper .popup .acvi .name {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 20px;
}
body .popup_wrapper .popup .acvi i.hamb_big {
  display: block;
  margin: 45px auto 35px;
  position: relative;
}
body .popup_wrapper .popup .acvi i.hamb_big i.icon {
  right: 17px;
  bottom: 17px;
}
body .popup_wrapper .popup .acvi .btns {
  margin: 0 0 40px;
}
body .popup_wrapper .popup .bonus .name {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin: 35px 0 20px;
}
body .popup_wrapper .popup .bonus .elem {
  background: #ffffff url(../img/ovl.png);
  border: 1px solid #dfe5ec;
  padding: 8px;
  border-radius: 12px;
  margin: 0 70px 13px;
}
body .popup_wrapper .popup .bonus .elem .w {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #dfe5ec;
  font-size: 22px;
  font-weight: bold;
  padding: 16px 0 20px 25px;
}
body .popup_wrapper .popup .bonus .elem .w small {
  font-size: 18px;
  color: #414141;
}
body .popup_wrapper .popup .bonus .elem .w span {
  padding: 0 20px 0 0;
}
body .popup_wrapper .popup .bonus .elem .w em {
  color: #2f4e81;
}
body .popup_wrapper .popup .bonus .btns {
  text-align: center;
  margin: 30px 0 35px;
}
body .popup_wrapper .popup .error_p i.icon,
body .popup_wrapper .popup .class_p i.icon,
body .popup_wrapper .popup .qw_p i.icon {
  margin: 40px auto;
}
body .popup_wrapper .popup .error_p .btns,
body .popup_wrapper .popup .class_p .btns,
body .popup_wrapper .popup .qw_p .btns {
  text-align: center;
  margin: 30px 0 35px;
}
body .popup_wrapper .popup .error_p .name,
body .popup_wrapper .popup .class_p .name,
body .popup_wrapper .popup .qw_p .name {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin: 35px 0 20px;
}
body .popup_wrapper .popup .newlvl_p .name,
body .popup_wrapper .popup .newlvl_p .sublabel {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin: 25px 0 10px;
}
body .popup_wrapper .popup .newlvl_p .btns {
  text-align: center;
  margin: 40px 0;
}
body .popup_wrapper .popup .newlvl_p .elem {
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  padding: 40px;
  overflow: hidden;
  margin: 0 0 25px;
}
body .popup_wrapper .popup .newlvl_p .elem img {
  float: left;
}
body .popup_wrapper .popup .newlvl_p .elem .data {
  margin: 0 0 0 140px;
}
body .popup_wrapper .popup .newlvl_p .elem .data h3 {
  margin: 0 0 10px;
  padding: 2px 0 10px;
  border-bottom: 1px solid #e3e3e3;
}
body .popup_wrapper .popup .newlvl_p .elem .data .stats {
  color: #414141;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 14px;
}
body .popup_wrapper .popup .newlvl_p .elem .data .stats span {
  padding: 0 17px 0 0;
}
body .popup_wrapper .popup .newlvl_p .elem .data .stats em {
  color: #81b9f1;
}
body .popup_wrapper .popup .newlvl_p .elem .data .cb {
  float: left;
  overflow: hidden;
}
body .popup_wrapper .popup .newlvl_p .elem .data .cb .col {
  width: 195px;
  float: left;
}
body .popup_wrapper .popup .newlvl_p .elem .data .cb .col label {
  font-size: 15px;
  color: #414141;
  font-weight: bold;
  display: block;
  margin: 0 0 15px;
}
body .popup_wrapper .popup .newlvl_p .elem .data .cb .col label.checked {
  color: #a3a3a3;
}
body .popup_wrapper .popup .newlvl_p .elem .data .cb .col label:last-child {
  margin: 0;
}
body .popup_wrapper .popup .newlvl_p .elem {
  background: #ffffff url(../img/ovl.png);
  border: 1px solid #dfe5ec;
  padding: 8px;
  border-radius: 12px;
  margin: 15px 70px 15px;
}
body .popup_wrapper .popup .newlvl_p .elem .w {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #dfe5ec;
  padding: 20px;
}
body .popup_wrapper .popup .newlvl_p .unlock {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #414141;
}
body .popup_wrapper .popup .newlvl_p .unlock em {
  color: #2f4e81;
}
body .popup_wrapper .popup .newlvl_p .locked {
  position: relative;
  padding: 1px 0 50px;
}
body .popup_wrapper .popup .newlvl_p .locked * {
  opacity: 0.5;
}
body .popup_wrapper .popup .newlvl_p .locked .ovl {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/ovl.png);
  z-index: 40;
  border-radius: 0 0 4px 4px;
}
body .popup_wrapper .popup .newlvl_p .locked .ovl * {
  opacity: 1;
}
body .popup_wrapper .popup .newlvl_p .locked .ovl .b {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(1, 3, 1, 0.25);
  width: 454px;
  height: 72px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -36px 0 0 -227px;
  line-height: 72px;
  text-align: center;
  color: #202020;
  font-size: 28px;
  font-weight: bold;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YzljOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
}
body .popup_wrapper .popup .newlvl_p .locked .btns {
  margin-bottom: 0;
}
/* all pages */
i.icon.f_vk {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url('../img/f_vk.png');
}
i.icon.f_fb {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url('../img/f_fb.png');
}
i.icon.menu_code_active {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('../img/menu_code_active.png');
  vertical-align: -5px;
  margin: 0 11px 0 0;
}
i.icon.menu_code {
  width: 20px;
  height: 21px;
  display: inline-block;
  background: url('../img/menu_code.png');
  vertical-align: -6px;
  margin: 0 11px 0 0;
}
i.icon.exit {
  width: 18px;
  height: 20px;
  display: inline-block;
  background: url('../img/exit.png');
  vertical-align: -7px;
  margin: 0 0 0 7px;
}
i.icon.mag {
  width: 27px;
  height: 21px;
  display: inline-block;
  background: url('../img/mag.png');
  vertical-align: -4px;
  margin: 0 11px 0 0;
}
i.icon.mag_active {
  width: 27px;
  height: 20px;
  display: inline-block;
  background: url('../img/mag_active.png');
  vertical-align: -3px;
  margin: 0 11px 0 0;
}
i.icon.profile {
  width: 25px;
  height: 21px;
  display: inline-block;
  background: url('../img/profile.png');
  vertical-align: -4px;
  margin: 0 11px 0 0;
}
i.icon.profile_active {
  width: 25px;
  height: 20px;
  display: inline-block;
  background: url('../img/profile_active.png');
  vertical-align: -3px;
  margin: 0 11px 0 0;
}
i.icon.hamb,
i.icon.glass {
  width: 92px;
  height: 92px;
  display: inline-block;
  background: url('../img/hamb.png');
  display: block;
  position: relative;
}
i.icon.hamb i.count,
i.icon.glass i.count {
  border-radius: 20px;
  text-align: center;
  min-width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 21px;
  right: 18px;
  background: #436fd1;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  padding: 0 3px;
}
i.icon.glass {
  width: 92px;
  height: 92px;
  display: inline-block;
  background: url('../img/glass.png');
}
i.icon.us {
  width: 14px;
  height: 18px;
  display: inline-block;
  background: url('../img/us.png');
  vertical-align: -3px;
  margin: 0 7px 0 0;
}
i.icon.star {
  width: 19px;
  height: 18px;
  display: inline-block;
  background: url('../img/star.png');
  vertical-align: -3px;
  margin: 0 7px 0 0;
}
i.icon.reward {
  width: 13px;
  height: 21px;
  display: inline-block;
  background: url('../img/reward.png');
  vertical-align: -4px;
  margin: 0 10px 0 0;
}
i.icon.cup {
  width: 20px;
  height: 21px;
  display: inline-block;
  background: url('../img/cup.png');
  vertical-align: -4px;
  margin: 0 10px 0 0;
}
i.icon.dstr {
  width: 15px;
  height: 10px;
  display: inline-block;
  background: url('../img/dstr.png');
  vertical-align: 1px;
  margin: 0 0 0 12px;
}
i.icon.ustr {
  width: 15px;
  height: 10px;
  display: inline-block;
  background: url('../img/ustr.png');
  vertical-align: 1px;
  margin: 0 0 0 12px;
}
i.icon.lock_achiv {
  width: 85px;
  height: 86px;
  display: inline-block;
  background: url('../img/lock_achiv.png');
  margin: 3px 0 0 3.5px;
}
i.icon.carusel_left {
  width: 28px;
  height: 58px;
  display: inline-block;
  background: url('../img/carusel_left.png');
}
i.icon.carusel_right {
  width: 28px;
  height: 58px;
  display: inline-block;
  background: url('../img/carusel_right.png');
}
i.icon.rew_big {
  width: 41px;
  height: 31px;
  display: inline-block;
  background: url('../img/rew_big.png');
  vertical-align: -8px;
  margin: 0 17px 0 0;
}
i.icon.bb {
  width: 19px;
  height: 23px;
  display: inline-block;
  background: url('../img/bb.png');
  vertical-align: -4px;
  margin: 0 10px 0 0;
}
i.icon.speed {
  width: 20px;
  height: 18px;
  display: inline-block;
  background: url('../img/speed.png');
  vertical-align: -2px;
  margin: 0 10px 0 0;
}
i.icon.cc {
  width: 16px;
  height: 19px;
  display: inline-block;
  background: url('../img/cc.png');
  vertical-align: -3px;
  margin: 0 10px 0 0;
}
i.icon.vk {
  width: 164.16666667px;
  height: 29.33333333px;
  display: inline-block;
  background: url('../img/vk.png');
  background-size: 100%;
  display: block;
}
i.icon.fb {
  width: 137.33333333px;
  height: 27.33333333px;
  display: inline-block;
  background: url('../img/fb.png');
  background-size: 100%;
  display: block;
}
i.icon.check {
  width: 49px;
  height: 49px;
  display: inline-block;
  background: url('../img/check.png');
  display: block;
  position: absolute;
  bottom: 7px;
  right: 154px;
}
i.icon.hamb_big {
  width: 224px;
  height: 224px;
  display: inline-block;
  background: url('../img/hamb_big.png');
}
i.icon.err {
  width: 227px;
  height: 227px;
  display: inline-block;
  background: url('../img/e.png');
  display: block;
}
i.icon.cla {
  width: 226px;
  height: 224px;
  display: inline-block;
  background: url('../img/cla.png');
  display: block;
}
i.icon.inf {
  width: 226px;
  height: 224px;
  display: inline-block;
  background: url('../img/i.png');
  display: block;
}
i.icon.unlock {
  width: 31px;
  height: 26px;
  background: url('../img/unlock.png');
  display: inline-block;
  vertical-align: -2px;
  margin: 0 10px 0 0;
}
button.blue {
  border-radius: 10px;
  background: #81b9f1;
  height: 49px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #436fd0;
  padding: 0 30px;
}
button.blue.small {
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 17px;
}
button.gray {
  border-radius: 10px;
  background: #e4e4e4;
  height: 49px;
  color: #202020;
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
}
button.gray.small {
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 17px;
}
.logo {
  background: #fff;
  border-radius: 180px 180px 0 0;
  width: 180px;
  height: 100px;
  position: absolute;
  z-index: 35;
  top: 15px;
  left: 50px;
}
.logo a {
  padding: 18px 0 0 0;
  display: block;
}
.logo img {
  display: block;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 47px;
  right: 50px;
  z-index: 35;
}
nav li {
  float: left;
  padding: 0 44px;
  position: relative;
  margin: 0 0 0 -21px;
}
nav li:nth-child(1) {
  z-index: 20;
}
nav li:nth-child(2) {
  z-index: 19;
}
nav li:nth-child(3) {
  z-index: 18;
}
nav li:nth-child(4) {
  z-index: 17;
}
nav li:nth-child(5) {
  z-index: 16;
}
nav li:first-child i:not(.icon) {
  display: none;
}
nav li a {
  position: relative;
  display: block;
  text-decoration: none;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-shadow: 0 1px 0px #436fd0;
  background: url(../img/menu/passive_center.png) repeat-x;
  font-size: 18px;
  font-weight: bold;
  z-index: 5;
}
nav li i:not(.icon) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 45px;
  z-index: 4;
  background: url(../img/menu/passive_overlay.png) no-repeat left bottom;
}
nav li:before,
nav li:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 45px;
  background: url(../img/menu/passive_left.png);
}
nav li:after {
  right: 0;
  left: auto;
  background: url(../img/menu/passive_right.png);
}
nav li.active {
  z-index: 25;
}
nav li.active i:not(.icon) {
  display: none;
}
nav li.active a {
  background: #fff;
  text-shadow: none;
  color: #202020;
}
nav li.active:before {
  background: url(../img/menu/active_left.png);
}
nav li.active:after {
  background: url(../img/menu/active_right.png);
}
.user {
  z-index: 28;
  position: absolute;
  top: 100px;
  right: -197px;
  width: 197px;
  background: #fff;
  padding: 15px 20px;
  text-align: center;
  border-radius: 0 10px 10px 0;
  color: #202020;
  font-size: 18px;
  font-weight: bold;
}
.user a {
  display: block;
}
.user a img {
  display: block;
  margin: 12px auto;
  box-shadow: 0 2px 15px rgba(16, 52, 87, 0.15);
  border-radius: 100px;
  border: 7px solid #fff;
}
.user a.exit {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: #2f4e81;
  text-decoration: none;
  margin: 13px 0 0 0;
}
h2 {
  color: #202020;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 20px;
}
h3 {
  color: #202020;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 16px;
}
h4 {
  color: #414141;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 16px;
}
p {
  color: #414141;
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 16px;
}
p:last-child {
  margin: 0;
}
strong {
  font-weight: bold;
}
ul {
  color: #414141;
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 16px 25px;
}
ul li {
  background: url(../img/li.png) 0 7px no-repeat;
  padding: 0 0 0 20px;
}
.icheckbox {
  background: url(../img/icheck.png) no-repeat top left;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: -4px;
  margin: 0 9px 0 0;
}
.icheckbox.checked {
  background-position: bottom left;
}
.btns {
  font-size: 0;
}
.btns button {
  margin: 0 17px 0 0;
}
.btns button:last-child {
  margin: 0;
}
footer {
  padding: 30px 0;
}
footer a.flogo {
  float: left;
  margin: 30px 0 0 100px;
}
footer p {
  margin: 0 200px 0 300px !important;
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #bdbdbd;
}
footer p a {
  color: #bdbdbd;
  text-decoration: none;
}
footer .social {
  float: right;
  padding: 20px 50px 0 0;
}
footer .social a {
  padding: 0 20px 0 0;
}
/* index */
section.index .qr {
  float: right;
  margin: 0 0 10px 15px;
}
section.index .qr .code {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 35px #c5c5c5;
  padding: 30px 0;
  margin: 0 0 35px;
}
section.index .qr .code img {
  display: block;
  margin: 0 auto;
}
section.index form.mail_code {
  position: relative;
}
section.index form.mail_code input {
  border-radius: 10px;
  background-color: #ededed;
  box-shadow: inset 0 1px 5px rgba(2, 8, 4, 0.25);
  height: 68px;
  width: 100%;
  color: #202020;
  font-size: 30px;
  font-weight: bold;
  padding: 0 30px;
}
section.index form.mail_code button {
  position: absolute;
  top: 9px;
  right: 11px;
}
section.index .stores {
  float: right;
  padding: 8px 0 0 0;
}
section.index .stores img {
  display: block;
  margin: 0 0 25px;
}
/* profile */
section.profile .buff {
  background: url(../img/stars.png) top right no-repeat;
  margin: -30px -40px -20px 0;
  padding: 0 0 20px;
}
section.profile .buff .left {
  box-shadow: 0 2px 15px rgba(2, 8, 4, 0.15);
  border-radius: 10px 0 0 10px;
  float: left;
  width: 596px;
  padding: 20px 30px;
  background: #fff;
  margin: 60px 0 0 0;
}
section.profile .buff .right {
  border-radius: 10px;
  float: left;
  width: 225px;
  height: 225px;
  margin: 22px 0 0 0;
  background: #fff;
  box-shadow: 0 2px 15px rgba(16, 52, 87, 0.15);
  padding: 15px 0 0 0;
  position: relative;
}
section.profile .buff .right img {
  display: block;
  margin: 0 auto;
}
section.profile .buff .right i.icon {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
section.profile .buff .line {
  border-radius: 5px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 4px rgba(2, 8, 4, 0.25);
  height: 32px;
  padding: 1px;
  margin: 0 0 15px;
}
section.profile .buff .line .active {
  width: 30%;
  border-radius: 3px 0 0 3px;
  height: 30px;
  box-shadow: inset 0 1px 1px #b9ecfe;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY5OWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc5Y2JlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: linear-gradient(bottom, #699ded 0%, #79cbef 100%);
  /* gradient overlay */
}
section.profile .buff .right_label {
  float: right;
  color: #2f4e81;
}
section.profile .buff .stats span {
  font-weight: bold;
  padding: 0 20px 0 0;
}
section.profile .buff .stats span em {
  color: #81b9f1;
}
section.profile .missions .elem {
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  padding: 40px;
  overflow: hidden;
  margin: 0 0 25px;
}
section.profile .missions .elem img {
  float: left;
}
section.profile .missions .elem .data {
  margin: 0 0 0 140px;
}
section.profile .missions .elem .data h3 {
  margin: 0 0 10px;
  padding: 2px 0 10px;
  border-bottom: 1px solid #e3e3e3;
}
section.profile .missions .elem .data .stats {
  color: #414141;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 14px;
}
section.profile .missions .elem .data .stats span {
  padding: 0 17px 0 0;
}
section.profile .missions .elem .data .stats em {
  color: #81b9f1;
}
section.profile .missions .elem .data .cb {
  float: left;
  overflow: hidden;
}
section.profile .missions .elem .data .cb .col {
  width: 195px;
  float: left;
}
section.profile .missions .elem .data .cb .col label {
  font-size: 15px;
  color: #414141;
  font-weight: bold;
  display: block;
  margin: 0 0 15px;
}
section.profile .missions .elem .data .cb .col label.checked {
  color: #a3a3a3;
}
section.profile .missions .elem .data .cb .col label:last-child {
  margin: 0;
}
section.profile .achievement h2 a {
  color: #dfdfdf;
}
section.profile .achievement h2 a em {
  color: #2f4e81;
}
section.profile .achievement .carusel {
  position: relative;
}
section.profile .achievement .carusel a.left,
section.profile .achievement .carusel a.right {
  position: absolute;
  top: 14px;
  left: -52px;
}
section.profile .achievement .carusel a.right {
  left: auto;
  right: -52px;
}
section.profile .achievement .carusel .ovh {
  overflow: hidden;
}
section.profile .achievement .carusel ul {
  margin: 0 0 23px;
  overflow: hidden;
  width: 10000px;
}
section.profile .achievement .carusel ul li {
  background: none;
  padding: 0;
  float: left;
  width: 92px;
  height: 92px;
  margin: 0 11px 0 0;
  position: relative;
}
section.profile .achievement .col {
  width: 402px;
  float: left;
  padding: 0 0 30px;
}
section.profile .achievement .col:first-child {
  margin: 0 18px 0 0;
}
section.profile .achievement .elem {
  overflow: hidden;
  margin: 0 0 10px;
}
section.profile .achievement .elem:last-child {
  margin: 0;
}
section.profile .achievement .elem .image {
  width: 92px;
  height: 92px;
  float: left;
}
section.profile .achievement .elem .d {
  margin: 0 0 0 92px;
  padding: 10px 0 0 0;
}
section.profile .achievement .elem .d .title {
  color: #202020;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 0 10px;
}
section.profile .achievement .elem .line {
  background-color: #e6e6e6;
  box-shadow: inset 0 1px 4px rgba(2, 8, 4, 0.25);
  height: 23px;
  border-radius: 4px;
  margin: 10px 0 0 -10px;
}
section.profile .achievement .elem .line .active {
  width: 40%;
  height: 23px;
  border-radius: 4px;
  background: url(../img/line_active.png) repeat;
}
section.profile .achievement .elem .line.lock {
  background: #eaeaea;
  box-shadow: none;
}
section.profile .rewards button {
  margin: 12px 0 0 0;
}
section.profile .rewards .elem {
  font-weight: bold;
  font-size: 18px;
  border: 8px solid #a9cef3;
  border-radius: 10px;
  padding: 16px 25px 18px;
  margin: 0 0 15px;
}
section.profile .rewards .elem span {
  padding: 0 30px 0 0;
}
section.profile .rewards .elem em {
  color: #2f4e81;
}
section.profile .rewards .elem big {
  font-size: 22px;
  font-weight: bold;
}
section.profile .news button {
  margin: 12px 0 0 0;
}
section.profile .news .elem {
  font-weight: bold;
  font-size: 22px;
  border: 8px solid #a9cef3;
  border-radius: 10px;
  padding: 21px 25px 23px;
  margin: 0 0 15px;
}
section.profile .news .elem span.date {
  display: inline-block;
  width: 135px;
  color: #414141;
}
section.profile .news .elem a.r {
  color: #436fd1;
  font-size: 18px;
  float: right;
  margin: 4px 0 0 0;
}
section.profile .bd .elem:last-child {
  margin: 0;
}
/* shop */
section.shop .goods .elem {
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  padding: 40px;
  overflow: hidden;
  margin: 0 0 25px;
}
section.shop .goods .elem img {
  float: left;
}
section.shop .goods .elem .data {
  margin: 0 0 0 140px;
}
section.shop .goods .elem .data h3 {
  margin: 0 0 10px;
  padding: 2px 0 10px;
  border-bottom: 1px solid #e3e3e3;
}
section.shop .goods .elem .data .stats {
  color: #414141;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 14px;
}
section.shop .goods .elem .data .stats span {
  padding: 0 17px 0 0;
}
section.shop .goods .elem .data .stats em {
  color: #81b9f1;
}
section.shop .goods .elem .data .cb {
  float: left;
  overflow: hidden;
}
section.shop .goods .elem .data .cb .col {
  width: 195px;
  float: left;
}
section.shop .goods .elem .data .cb .col label {
  font-size: 15px;
  color: #414141;
  font-weight: bold;
  display: block;
  margin: 0 0 15px;
}
section.shop .goods .elem .data .cb .col label.checked {
  color: #a3a3a3;
}
section.shop .goods .elem .data .cb .col label:last-child {
  margin: 0;
}
section.shop .store {
  margin: 0 -14px 0 0;
  background: url(../img/store_bg.png) top right no-repeat;
}
section.shop .store button {
  margin: 20px 0 0 0;
}
section.shop .store .wallet {
  background: #fff;
  border-radius: 6px;
  float: right;
  margin: 0 52px 0 130px;
  box-shadow: 0 1px 35px rgba(198, 198, 198, 0.97);
}
section.shop .store .wallet .title {
  border-radius: 6px 6px 0 0;
  background: linear-gradient(to bottom, #4772d2 0%, #3f529f 100%);
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0px #283e8b;
}
section.shop .store .wallet .d {
  padding: 0 15px;
  font-size: 48px;
  font-weight: bold;
  color: #2f4e81;
  line-height: 73px;
}
/* popups */
section.popups a {
  display: block;
  margin: 0 0 10px;
}
